In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
sns.set_theme(style="darkgrid")

In [8]:
infile = "../measurements/FIFO Queue_8_100000.csv"
pd.read_csv(infile, sep=";")

,thread count,object count,object size,total enqueue time,total dequeue time,enqueue rate,dequeue rate
0,8,100000,10,12.3448,26.3857,8100.58,473.741
1,8,100000,10,11.6496,26.3067,8583.99,475.164
2,8,100000,10,11.7403,27.0460,8517.67,462.176
3,8,100000,10,11.4582,25.5475,8727.37,489.285
4,8,100000,10,12.0093,26.4498,8326.88,472.593
5,8,100000,10,12.0691,26.4118,8285.62,473.273
6,8,100000,10,11.1459,25.7331,8971.91,485.756
7,8,100000,10,11.8610,27.2430,8430.99,458.833
8,8,100000,10,11.4652,26.0920,8722.05,479.074
9,8,100000,10,11.7106,26.2031,8539.27,477.043

In [ ]:
sns.lineplot(x="timepoint", y="signal",
             hue="region", style="event",
             data=fmri)